<html>
    <head>
        {# Cargamos libreria bootstrap #}
        {% load bootstrap4 %}
        {# Cargamos bootstrap css #}
        {% bootstrap_css %}
        {# Archivos #}
        {% load static %}
    </head>

    <body style="background-color:#b0ccf1;border-radius: 25px;margin-top: 10px;">
        <!-- datos margen sup derecho (logou y username)-->
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" style="margin-left: 80%;" method="post">
                <a class="text-center" style="pointer-events: none;color: black;margin-right:3%;" > {{ user.username }} </a>
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Cerrar sesión</button>
    
            </form>
        
        {% endif %}


        <div style="margin-top: 2%; margin-right: 10%; margin-left: 10%; background-color: white; border-radius: 25px; padding: 20px;">
            <h4 class="text-center" style="font-weight:bold;">Bienvenido/a!</h4>

            {% if user.is_staff %}
                <h6 class="text-center" style="font-weight:bold;">Últimos encargos cerrados:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Encargo:</th>
                        <th>Fecha:</th>
                        <th>Reciclador:</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for unform in ultimos_formularios %}
                        <tr>
                            <td>#{{ unform.id }}</td>
                            <td>{{ unform.fecha }}</td>
                            <td>{{unform.reciclador.username}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

                <div style="display: flex;"> 
                    <!-- botones inferiores del staff: puntos de recoleccion -->
                    <a href="../punto_recoleccion/listar/" style="margin-left: 1%;" class="btn btn-outline-dark">Ver puntos de recolección</a>
                    <a href="../punto_recoleccion/agregar/" style="margin-left: 3%;" class="btn btn-outline-dark">Ingresar nuevo punto de recolección</a>
                    <p style="font-size: 12px; color:gray;text-align: right;margin-left: 7%;">**Se visualizan únicamente los primeros 10 resultados de la búsqueda.</p>
                </div>
                
                <!-- fin vista del staff -->
            {% else %}
                {% if ultimo_formulario %}
                    <h5 style="font-weight:bold;">• Continúa agregando materiales:</h5>
                    <p><span style="font-weight:bold;">Formulario creado el día:</span> {{ ultimo_formulario.fecha }}</p>
                    <p><span style="font-weight:bold;">Número de encargo:</span> #{{ ultimo_formulario.id }}</p>
                    {% if ultimo_formulario.abierto %}
                        <p><span style="font-weight:bold;">Estado:</span> Abierto</p>
                        <a href="../formularios/detalle/{{ ultimo_formulario.id }}" title="Editar" class="btn btn-primary">Ver formulario</a>
                    {% else %}
                        <p><span style="font-weight:bold;">Estado:</span> Cerrado</p>
                    {% endif %}
                    <br>
                    <br>
                    {% if not user.is_staff %}
                        <h5 style="font-weight:bold;">• O prueba:</h5>
                    {% endif %}
                {% else %}
                    {% if not user.is_staff %}
                        <h5 style="font-weight:bold;">Prueba cargando un nuevo formulario:</h5>
                    {% endif %}
                {% endif %}
                
                {% if not user.is_staff %}
                    <div class="text-center" style="margin-top: 20px;">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Cargar un nuevo formulario</button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>
