<html>
    <head>
        {# Cargamos libreria bootstrap #}
        {% load bootstrap4 %}
        {# Cargamos bootstrap css #}
        {% bootstrap_css %}
        {# Archivos #}
        {% load static %}
    </head>

    <body style="background-color:#b0ccf1;border-radius: 25px;margin-top: 10px;">
        {# JS y jquery bootstrap #}
        {% bootstrap_javascript jquery='full' %}

        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" style="margin-left: 80%;" method="post">
                <a class="text-center" style="pointer-events: none;color: black;margin-right:3%;" > {{ user.username }} </a>
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Cerrar sesión</button>

            </form>
        {% endif %}

        <div style="margin-top: 5%; margin-right: 25%; margin-left: 25%; background-color: white; border-radius: 25px; padding: 20px;">
            <h4 class="text-center" style="font-weight:bold;">Detalles de su última evaluación</h4>

            <p><span style="font-weight:bold;">Kg totales faltantes en sus entregas:</span><br>{{ kg_faltantes_total }}</p>

            <p><span style="font-weight:bold;">Cantidad de materiales declarados y recibidos en su totalidad:</span><br>{{ cant_materiales_exitosos }}</p>
            
            <p><span style="font-weight:bold;">Cantidad de materiales declarados y no recibidos:</span><br>{{ cant_mats_no_recibidos }}</p>
            
            <p><span style="font-weight:bold;">Cantidad de materiales declarados y recibidos incompletos:</span><br> {{ cant_materiales_fallidos }}</p>

            <p><span style="font-weight:bold;">Monto total que se le pagó:</span><br> $ {{ monto_pagado }}</p>


            <p><span style="font-weight:bold;">Fecha:</span><br> {{ object.fecha_inicio | date:"d/m/Y" }} a {{ object.fecha_fin | date:"d/m/Y" }}</p>

            
            <!-- botones inferiores-->
            <div class="text-center" style="margin-top: 20px;">
                <a href="/inicio" class="btn btn-danger"> < Volver al inicio</a>
            </div>
        </div>        
    </body>
</html>